.kasa_header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.kasa_nav ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px;
}

li {
    list-style: none;
    font-size: 1.5rem;
}

.kasa_nav ul li a {
    text-decoration: none;
    color: #000;
    font-family:  'Montserrat', sans-serif;
    font-weight: 500;
}