.kasa_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo_kasa{
    width: 145px;
    @media (min-width: 769px){
        width: 210px;
      }
}

.kasa_nav{
    display: flex;
    gap: 20px;
}

.kasa_nav a {
    text-decoration: none;
    color: #000;
    font-family:  'Montserrat', sans-serif;
    font-weight: 500;
    text-transform:uppercase;
    @media (min-width: 769px){
        text-transform:capitalize;
      }
    
}

.kasa_nav a:hover{
    text-decoration: underline;
}

.container{
    width: 80%;
    margin: auto;
  }